body {
    background: url('./../img/index-background.png') no-repeat center / cover;
    margin: 0;
    padding: 0;
    color: white;
}

h1{
	text-align: center;
    	font-family: sans-serif;
	text-shadow: 1px 1px 2.5px black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.calculadora {
    backdrop-filter: blur(5px);
    box-shadow: rgba(0,0,0, 0.15) 0px 1px 0px 2.5px;
    box-sizing: border-box;
    border-radius: 17px;
}

.dados {
    margin: 10px;
}

.dados input[type="number"] {
    width: 50%;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
}

#botao {
    display: flex;
    justify-content: flex-start;
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgb(32, 103, 255);
    color: white;
    width: 30%;
    padding: 5px;
}
