nav {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #7f91a1;
    padding: 0.5em 0 0.5em 0;
}

#logo {
    height: 7vh;
    width: 7vh;
    margin-left: 1.5rem;
}

nav form {
	display: flex;
	align-self: center;
	justify-content: space-between;
	gap: 5px;
	margin: 0 0.5rem 0 0.5rem;
	border-radius: 30px;
	border: 1px solid white;
	padding: 10px;
}
nav form input[type='text'] {
	background-color: transparent;
	color: white;
	border: 0;
	max-width: 20vmin;
}
nav form input[type='text']::placeholder { color: white; }
nav form input[type='text']:focus {
	outline: none;
	box-shadow: none;
}
@media only screen and (min-width: 600px) {
	nav form input[type='text'] {
		width: 50vmin;
		max-width: 50vmin;
	}
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 1.5rem;
    padding: 0; 
}
#current-page { border-bottom: 1px solid white; }
.menu { position: relative; }
.conteudo {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
}
.conteudo li a{
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
}
.drop:hover .conteudo {
    display: flex;
    flex-direction: column;
}
.drop:hover .conteudo li a{
    padding: 2px 15px 2px 15px;
    border-radius: 17px;
    border-color: transparent;
    color: white;
}
.drop:hover .conteudo li a:hover{ background-color: rgba(0, 0, 0, 0.2); }
nav ul li { display: inline-block; }
nav ul li a {
    display: block; 
    color: white;
    margin-right: 1em;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    text-align: center;
    min-width: 6ch;
    padding-bottom: 2px;
}
nav ul li a:hover { border-bottom: 2px solid white; }
