body {
    background-color: #e1ebe5    ; /* Define a cor de fundo para laranja */
    margin: 0; /* Remove margens ao redor do corpo */
    padding: 0; /* Remove preenchimento ao redor do corpo */
}

nav {
    background-color: #9cb992    ; /* Define a cor de fundo do elemento nav para cinza escuro */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between; /* Alinha os itens do navbar ao longo do eixo x com espaço entre eles */
    align-items: center; /* Centraliza verticalmente os itens do navbar */
    padding: 0.5rem;
    max-height: 50px;
}

nav ul {
    width: 100vw;
    list-style-type: none; /* Remove os marcadores de lista padrão */
    margin: 0; /* Remove margens da lista */
    padding: 0; /* Define o preenchimento da lista (deveria ser 'padding: 0;' ou 'padding: 10px;' para definir um preenchimento de 10 pixels) */
    display: flex; /* Adiciona um layout flexível ao elemento ul */
    justify-content: flex-end;/* Alinha os itens da lista à direita */
    margin-left: 1rem; /* Adiciona um espaço entre os itens */
}

nav ul li {
    display: inline; /* Faz com que os itens da lista sejam exibidos em linha */
}

nav ul li:first-child {
    margin-left: 10; /* Remove a margem esquerda do primeiro item */
}

nav ul li:last-child {
    margin-right: 0.215em;
}

nav ul li a {
    display: block; /* Define os links como elementos de bloco */
    padding: 10px; /* Adiciona preenchimento aos links */
    text-decoration: none; /* Remove sublinhado dos links */
    color: white; /* Define a cor do texto dos links como branco */
    border: 1px solid rgba(255, 255, 255, 0.65);
    margin-left: 1em;
    min-width: 6ch;
    text-align: center;
}

nav ul li a:hover {
    background-color: #555; /* Muda a cor de fundo dos links quando o mouse está sobre eles */
}

#logo {
    max-height: 50px; /* Define a altura máxima da logomarca */
    margin-left: 1.15em; /* Adiciona um espaço entre a logomarca e os itens do menu */
    margin-right: 1.5em;
}

/* TODO: mudar a gambiarra abaixo */
#titulo-nav {
	width: 125ch;
    color: white;
}

#banner {
    display: block; /* Define as imagens como elementos de bloco */
    margin: auto; /* Centraliza as imagens horizontalmente */
    width: 85vw;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border: 3px solid black;
}

video {
    display: block;
    margin: auto;
    border: 5px solid black;
    border-width: 0.3em 15em 0.3em 15em;
    max-width: 20vw;
    height: 50vh;
}

.imagens {
    display: flex;
    margin: auto;
    width: 85vw;
    flex-direction: row;
    justify-content: center;
    column-gap: 2em;
    margin-top: 1em;
}

.graf {
    height: 200px;
    width: 250px;
}

#projeto {
    display: block;
    margin: auto;
    width: 85vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
}

footer {
    margin-top: 1em;
    background-color: black; /* Define a cor de fundo do rodapé como preto */
    color: white; /* Define a cor do texto como branco */
    padding: 20px; /* Adiciona um espaçamento interno ao rodapé */
    text-align: center; /* Centraliza o texto no rodapé */
}