<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M-redes</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/carrossel.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="website icon" type="img" href="./img/logo.png">
</head>
<body>
    <nav>
        <a href='./index.html'><img id="logo" alt="Logo" src="img/logo.png"></a>
        <ul class="menu">
            <li><a id="current-page" href="./index.html">Home</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="./html/blog.html">Blog</a></li>
            <li><a href="./html/calc.html">Calculadora</a></li>
            <li class="drop">
                <a href="#">Conta</a>
                <ul class="conteudo">
                    <li><a href="./html/login.html">Login</a></li>
                    <li><a href="./html/cadastro.html">Cadastro</a></li>
                </ul>    
            </li>
        </ul>
    </nav><br>

    <div id="carrossel">
	<div class="slides">
            <div class="slide"><a href="./html/calc.html"><img src="./img/TESTE_CARROSSEL.png" alt="Artwork 1"></a></div>
	    !!!CARROSSEL
    	</div>
    </div>

    <main id="cards_container">
	    !!!CARDS
    </main>
</body>
</html>
